.register-container {
  /* max-width: 1280px; */
  max-height: fit-content;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container form div {
  margin-bottom: 15px;
}

.register-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  /* border: 3px aqua;
  border-color: black;
  border-radius: 10px;

  border-color: aqua; */

  border: 2px solid blue;
  border-radius: 12px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.input {
  border-end-end-radius: 5px;
}

body {
  background-color: slategray;
}
